<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newuser</title>
</head>
<body>
    <form action="/user/new" method="POST">
        <input name="email" type="email" placeholder="Enter email" required />
        <input name="username" type="text" placeholder="Enter username" required />
        <input name="password" type="password" placeholder="Enter password" required />
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>